#login
  - if logged_in?
    Hey #{link_to current_user.name, profile_path}!
    (
    =link_to "logout", logout_path
    )
  -else
    #providers
      = link_to image_tag('twitter_login.png'), '/auth/twitter'
      = link_to image_tag('facebook_login.png'), '/auth/facebook'
