#login
  - if logged_in?
    Hey #{link_to current_user.display_name, profile_path}!
    (
    =link_to "logout", logout_path
    )
  -else
    #providers
      Log in with
      - Authorization.providers.each do |p|
        = provider_link(p)