#login
  - if logged_in?
    Hey #{link_to current_user.display_name || current_user.name, profile_path}!
    (
    =link_to "logout", logout_path
    )
  -else
    #providers
      Log in with
      = render :partial => 'authentications/base_login'