%p
  The Fablicator has roots in the RepRap project, but is focused on maximizing part quality rather than self-reproduction.
  It shares many physical similarities, but is designed from the ground up for reliability and part quality.

