%h2 Lineage
%p
  The Fablicator has roots in the RepRap project, but is focused on maximizing part quality rather than self-reproduction.
  It shares many physical similarities, but is designed from the ground up for reliability and part quality.
%h2 Tech Specs
%p An overview of some of Fablicator's tech specifications.
%ul
  %li it's at least a metric ton of awesome
  %li more to be described soon!

