%h2 General
%p Just click on a question to expand the answer, or one of these helpful buttons:
%dl#faq
  %dt
    Q: Can I buy one right now?
  %dd
    A: Not yet! We're working night and day to ramp up production and to make sure when the printers are released, everything is working perfectly.
  %dt
    Q: Is this Open Source?
  %dd
    A: Sort of. The entire software toolchain is currently open source. We have plans to open source the hardware, but are hesitant to do it until we have at least broken even.
  %dt
    Q: Can I just buy a a specific component?
  %dd
    A: Maybe. We will likely be selling Heated Beds and Extruders, but want to keep the core of our business selling complete printers.
  %dt
    Q: Can I be notified when they are ready to be ordered?
  %dd
    A: Yes! Just send an e-mail to andrew@fablicator.com indicating you are interested, and you will recieve an e-mail when they are ready.

