%h1 Not your average 3D Printer
%p The Fablicator is a brand new 3D printer design, unlike any other in it's price range. It is extremely accurate, solid, versatile, and fully assembled.
%h2 Features
%ul
  %li Rigid extruded aluminum frame. You can literally stand on it, and it doesn't warp when humidity levels change.
  %li Precise filament deposition. Because of superior mechanics, there are fewer surface imperfections than similar printers. Just look at our gallery and compare the results to other 3D printers (even some of the more expensive ones)
  %li No assembly required, or software to install. The fablicator is integrated with a computer running Windows 7, and pre-installed with all the software and settings you need to get printing immediately. All you need to start making parts is a Mouse, keyboard, and monitor. (and a 3d model of what you wish to make)
  %li Material versatility. The Fablicator can print with both PLA and ABS. Also, you are not forced to use a proprietary filament. Any filament with a diameter from 1.65mm-1.8mm can be used (though use of other manufactures material is not recommended)
  %li A large 7x7x7in build area allows the printing of a wide variety of functional and artistic parts.
  %li Reusable build surface. The Fablicator uses a unique borodsilicate glass build surface to allow parts to stick firmly when building, but release with ease once the platform has cooled. Parts are printed directly on the build surface and do not have any "rafts" to be removed.
%h2 Availability
%p The Fablicator is expected to be in production near the end of November, but no specific date is set. It will be on sale when it is completely ready, and no sooner. The cost is estimated to be around $3000 for the fully assembled printer with integrated computer. We do not plan to sell kits at this time.

%figure
  = image_tag("fablicator.png", :title => "Brilliant!")

