%nav
  %ul
    %li Origins
    %li Gallery
%h1 Fablicate!
%p
  While the site design and content is under construction please enjoy this faithfully made CAD drawing of this wondrous device, done by the creator himself.
%figure
= image_tag("fablicator.png", :title => "Brilliant!")
%figcaption
  Isn't it lovely?

