<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fablicator - not your average 3d printer</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="wrapper">
    <header>
      <a href="index.html"><img src="images/logo_lt_gray.png" title="fablicator"></a>
    </header>
    <div id="main" role="main">
      <nav>
        <ul>
            <li>Origins</li>
            <li>Gallery</li>
        </ul>
      </nav>
      <h1>Fablicate!</h1>
      <p>
        While the site design and content is under construction please enjoy this faithfully made CAD drawing of this wondrous device, done by the creator himself.
      </p>
      <figure>
        <img src="images/fablicator.png" title="Brilliant!">
        <figcaption>
          Isn't it lovely?
        </figcaption>
      </figure>
    </div>
  </div>

  <footer>
    <p class="right">andrew@fablicator.com</p>
    <p class="copyright">(c) KL Services Group inc.</p>
  </footer>

  <script src="js/libs/jquery-1.6.2.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25844776-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>

