// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.summary {
  border-top: 1px solid black;
}

article.post {
  width: 95%
}

section.comments {
  border-top: 5px solid #FF9900;
  border-bottom: 4px solid #D3D9DF;
  article {
    padding: 5px;
    &:nth-child(even) {
      background-color: #D3D9DF;
    }
    h3 {
      border-bottom: 1px dashed black;
    }
  }
}
