// Cherry picked from active_admin.css.scss for some nice form styles
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #5e6469;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus, form input[type=url]:focus, form input[type=tel]:focus, form textarea:focus {
  border: 1px solid #99a2aa;
  box-shadow: 0 0 4px #99a2aa;
  -moz-box-shadow: 0 0 4px #99a2aa;
  -webkit-box-shadow: 0 0 4px #99a2aa;
}

form input[type=text], form input[type=password], form input[type=email], form input[type=url], form input[type=tel], form textarea {
  width: 76%;
  border: 1px solid #c9d0d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}

form input[type=submit] {
  background: #838a90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  -ms-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  -o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  color: #efefef;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

form input[type=submit]:hover {
  color: #FFF;
  background: #8b9297;
  background: -webkit-gradient(linear, left top, left bottom, from(#8b9297), to(#484d51));
  background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8b9297, endColorstr=#484d51);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8b9297, endColorstr=#484d51);
}

form input[type=submit]:hover span.icon svg path, form input[type=submit]:hover span.icon svg polygon, form input[type=submit]:hover span.icon svg rect, form input[type=submit]:hover span.icon svg circle {
  fill: white !important;
}

form input[type=submit]:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
  background: #7e858b;
  background: -webkit-gradient(linear, left top, left bottom, from(#7e858b), to(#3c4043));
  background: -moz-linear-gradient(-90deg, #7e858b, #3c4043);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7e858b, endColorstr=#3c4043);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7e858b, endColorstr=#3c4043);
}

form .buttons {
  margin-top: 15px;
}

form .buttons input[type=submit] {
  margin-right: 10px;
}