= content_for :head do
  = javascript_include_tag "uploadify-manifest"
  = stylesheet_link_tag "uploadify"
- session_key = Rails.application.config.session_options[:key]
#ignore{:data => {:session_key => session_key,
	:cookie_key =>u(cookies[session_key]),
	:auth_token => u(form_authenticity_token)}}
